{% assign publications = include.publications %}
<section class="selected-publications my-3 bg-white shadow-sm rounded-xl" aria-labelledby="selected-publications-title">
    <div class="selected-publications-header border-bottom border-gray">
        <h6 id="selected-publications-title" class="mb-0">{% if include.title %}{{ include.title }}{% else %}<i class="fas fa-star"></i> Selected Publications{% endif %}</h6>
        <a class="small" href="{{ '/publications.html' | relative_url }}">View all publications <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
    </div>
    {% for item in publications limit:include.limit %}
        {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
    {% endfor %}
</section>
